body {
    background: #fff0f5;
    color: #161616;
    font-size: 32px;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.02em;
    line-height: 1em;
    cursor: default;
    padding: 12px;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #4169e1;
}

strong {
    font-weight: 700;
}

ul {
    margin: 0 auto;
    padding: 0 auto;
}

a:hover {
    color: black;
}

section {
    margin-bottom: 32px;
}

section:last-of-type {
    margin-bottom: 64px;
}

section:first-of-type {
    margin-top: 64px;
}

.asterism {
    width: 72px;
}

.asterism:hover {
    color: black;
}


.images img {
    width: 100%;
    height: auto;
    margin: 0;
}

.email {
    line-break: anywhere;
}

.arrow {
    width: 24px;
    display: inline-block;
}

@media (min-width: 750px) {
    body {
        font-size: 56px;
    }
    .icon {
        font-size: 148px;
    }
    section {
        margin-bottom: 64px;
    }
    section:first-of-type {
        margin-top: 128px;
    }
    section:last-of-type {
        margin-bottom: 128px;
    }
    .asterism {
        width: 144px;
    }
    .arrow {
        width: 40px;
    }
}

@media (min-width: 1500px) {
    body {
        padding: 64px;
        max-width: 1300px;
        margin: auto;
    }
    .icon {
        font-size: 148px;
    }
    section {
        margin-bottom: 64px;
    }
}

.role {

}

.title, .org, .dates, .desc {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.01em;
    margin: 0;
    padding: 0;
}

.title, .org, .dates {
    /* display: inline; */
}

.desc {
    line-height: 1.2em;
}

/* .org::after, .title::after {
    content: '·';
    margin: 0 6px;
} */